{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?{% for key, val in request.GET.items %}{% if key != 'page' %}{{ key }}={{ val }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">{{ t.prev }}</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
        <span class="current">{{ num }}</span>
        {% else %}
        <a href="?{% for key, val in request.GET.items %}{% if key != 'page' %}{{ key }}={{ val }}&{% endif %}{% endfor %}page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?{% for key, val in request.GET.items %}{% if key != 'page' %}{{ key }}={{ val }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">{{ t.next }}</a>
    {% endif %}
</div>
{% endif %}
