{% extends "daraz/base.html" %}
{% block content %}
    <div class="section">
        <div class="section-header">
            <h2>{{ t.all_products }}</h2>
        </div>
        {% include "daraz/partials/sort_bar.html" %}
        <div class="product-grid">
            {% for product in products %}
            {% include "daraz/partials/product_card.html" %}
            {% empty %}
            <p>{{ t.no_products }}</p>
            {% endfor %}
        </div>
        {% include "daraz/partials/pagination.html" %}
    </div>
{% endblock %}
